# Byte-compiled dosyaları
*.py[cod]
__pycache__/
*.so

# Sanal ortam klasörleri
env/
venv/
ENV/
env.bak/
venv.bak/

# Editör ve IDE dosyaları
.idea/
.vscode/
*.swp
*.swo
*.swn

# Günlük ve çıkış dosyaları
*.log
*.out
*.audit
*.txt

# Ortam değişkeni dosyaları
.env
.env.*

# Test verileri veya çıktılar
coverage/
*.cover
*.py,cover
.hypothesis/
.cache

# Derleme dosyaları
build/
dist/
*.egg-info/
*.egg

# Docker dosyaları
*.pid

# Jupyter Notebooks
.ipynb_checkpoints/

# Profil dosyaları
*.profile
*.prof

# tox
.tox/
*.tox

# pipenv
Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# Pytest
.pytest_cache/

# Diğer
*.bak
*.tmp