# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env/
.venv/
ENV/
venv/
pipenv/
pyenv/
*.venv

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Jupyter Notebook
.ipynb_checkpoints

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask/Django stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# environments
.env
.env.*
.secret

# FastAPI specific:
*.sqlite
alembic/

# Docker
*.log
docker-compose.override.yml

# MacOS
.DS_Store